<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="POST">
        <!-- Username Field -->
        <label for="first">
            Username:
        </label>
        <input type="text" id="first" name="first" placeholder="Enter your Username" required>

        <!-- Password Field -->
        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password" placeholder="Enter your Password" required>

        <!-- Submit Button -->
        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    <!-- </form> -->
</body>
</html>
